repos:
  - repo: local
    hooks:
      - id: upgrade-linters
        name: upgrade ruff & ty to latest
        entry: uv lock --upgrade-package ruff --upgrade-package ty
        language: system
        always_run: true
        pass_filenames: false

      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types_or: [python, jupyter]

      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types_or: [python, jupyter]

      - id: ty
        name: ty type check
        entry: uv run ty check pysrc/ tests/ demos/ scripts/ qgis_plugin/
        language: system
        types: [python]
        pass_filenames: false
